@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;500&display=swap');
#root{
}
.loading{
  height: 100%;
  padding:0;
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App{
  font-family: 'Pompt',sans-serif;
  margin:0;
  padding:0;
  background-color: #eee;
  outline:0;
  border:0;
  text-decoration: none;
  width: 100vw;
  height: auto;
  display: flex;
}
.App .filter{
  width: 15vw;
  margin-top:20px;
  margin-right:6vw;
  margin-left:5vw;
  overflow: scroll;
}
.App .filter button{
  border:0;outline: 0;
  background-color: #007f7f;
  width: 86%;
  padding:10px;
  margin-left: 7%;
  color:#fff;
  font-weight: bold;
  margin-bottom: 30px;
  transition: 500ms all;
  cursor: pointer;
}
.App .filter button:hover{
  background-color: darkgreen;
}
.App .products{
  width: 84vw;
}
.App .kategoriler{
  width: 90%;
  margin:auto;
display:flex;
  flex-direction: column;
  justify-content: center;
}
.App .filter .kategoriler{
  background-color: #fff;
  padding:10px;
}
.App .filter .kategoriler:not(:last-child){
  border-bottom: 1px solid #fff;
  margin-bottom:20px;
}
.App .filter .kategoriler .MuiSlider-root{
  width: 80%;
  margin-left:10%;
}
.App .kategoriler h1{
  font-size:18px;
  position:relative;
}
.App .kategoriler h1 span{
  font-size:10px;
}
.App .kategoriler h1 strong{
  cursor: pointer;
  position: absolute;
  right:0;
  font-size:14px;
}
.App .kategoriler{
  border:1px solid #000;
  user-select: none;
}
.App .kategoriler input[type="text"]{
  height: 30px;
  outline:0;
  border:0;
}
.App .kategoriler .lister label{
  display: flex;
  align-items: center;
  margin:5px;
  padding:5px;
}
.App .kategoriler .lister label:hover{
  background-color: #eee;
  cursor: pointer;
}
.App .kategoriler .lister label input{
  margin-right:10px;
}
/* .App .kategoriler .lister label:nth-child(2n+1){
  background-color: #ccc;
}
.App .kategoriler .lister label:nth-child(2n+0){
  background-color: #ddd;
} */
.App .kategoriler .kategori div{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border:1px solid #ccc;
}
.App .kategoriler .kategori div input{
  width: 40%;
  height: 50px;
  background-color: transparent;
  border:0;
  font-size:14px;
  outline: 0;
  text-align: center;
}
.App .kategoriler .kategori div input:not(:last-child){
  border-right: 2px solid #ccc !important;
}
.products .listerp{
  display: flex;
  overflow: scroll;
  flex-wrap: wrap;
}
.products .listerp .productCard{
  width: 250px;
  margin-left:10px;
  margin-top:10px;
  margin-bottom:10px;
  cursor: pointer;
  background-color: red;
  max-height: 570px;
  background-color: #fff;
  transition: 500ms all;
}
.products .listerp .productCard:hover{
  -webkit-box-shadow: 0px 0px 25px 0px #007f7f;
  -moz-box-shadow: 0px 0px 25px 0px #007f7f;
  box-shadow: 0px 0px 25px 0px #007f7f;
}
.products .listerp .productCard .productImage{
  height: 280px;
  cursor: pointer;
  width: 100%;
}
.products .listerp .productCard .productTitle{
  display:flex;justify-content: center;align-items: center;
  text-align: center;
  width: 100%;
  font-weight: bold;
  background-color: #fff;
  padding:8px 0px;
}
.products .listerp .productCard .productProperties{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top:18px;
}
.products .listerp .productCard .productProperties div{
  border:1px solid #eee;
  width: calc(50% - 4px);
  height: 27px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .listerp .productCard .productProperties .full{
  width: 100%;
}
.products .listerp .productCard .productProperties div span{
  font-size:10px;
  margin-left:4px;
}
.products .listerp .productCard .productProperties div i{
  position:absolute;
  left:4px;
  top:6px;
}

@media only screen and (max-width: 750px){
  .App{
    flex-direction: column;
  }
  .App .filter {
    margin-left:.5vw;
    width: 97.5vw!important;
  }
  .App .products {
    margin-left: 1.5vw;
  }
  .App .products div{
    width: 97.5vw!important;
  }
  .products .listerp .productCard{
    width: 45vw!important;
  }
   .products .listerp .productCard .productTitle{
     width: 45vw!important;
   }
   .products .listerp .productCard .productProperties .full{
     width: 100%!important;
   }
   .products .listerp .productCard .productProperties div{
     width: 25vw!important;
     justify-content: left;
   }
}
