@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.App{
  font-family: 'Roboto',sans-serif;
  margin:0;
  padding:0;
  outline:0;
  border:0;
  text-decoration: none;
  width: 100vw;
  height: 100%;
  display: flex;
}
.App .filter{
  border-right: 1px solid #eee;
  width: 15vw;
  height: 100vh;
  overflow: auto;
}
.App .filter button{
  border:0;outline: 0;
  background-color: #eee;
  width: 86%;
  padding:10px;
  margin-left: 7%;
  margin-bottom: 30px;
  cursor: pointer;
}
.App .filter button:hover{
  background-color: #ccc;
}
.App .products{
  width: 84vw;
  height: 100vh;
}
.App .kategoriler{
  width: 80%;
  margin:auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.App .filter .kategoriler{
  background-color: #eee;
  padding:10px;
}
.App .filter .kategoriler:not(:last-child){
  border-bottom: 1px solid #ccc;
  margin-bottom:20px;
}
.App .filter .kategoriler .MuiSlider-root{
  width: 80%;
  margin-left:10%;
}
.App .kategoriler h1{
  font-size:18px;
  position:relative;
}
.App .kategoriler h1 span{
  font-size:10px;
}
.App .kategoriler h1 strong{
  cursor: pointer;
  position: absolute;
  right:0;
  font-size:14px;
}
.App .kategoriler{
  user-select: none;
}
.App .kategoriler .lister label{
  display: flex;
  align-items: center;
  margin:5px;
  padding:5px;
}
.App .kategoriler .lister label:nth-child(2n+1){
  background-color: #ccc;
}
.App .kategoriler .lister label:nth-child(2n+0){
  background-color: #ddd;
}
.App .kategoriler .kategori div{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border:1px solid #ccc;
}
.App .kategoriler .kategori div input{
  width: 40%;
  height: 50px;
  background-color: transparent;
  border:0;
  font-size:14px;
  outline: 0;
  text-align: center;
}
.App .kategoriler .kategori div input:not(:last-child){
  border-right: 2px solid #ccc !important;
}


@media only screen and (max-width: 750px){
  .App{
    flex-direction: column;
  }
  .App .filter,.products {
    width: 97.5vw!important;
  }
}
