@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;500&display=swap');
#root{
  background-color: #eee;
}
.loading{
  width: 100vw;
  height: 100vh;
  padding:0;
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App{
  font-family: 'Pompt',sans-serif;
  margin:0;
  padding:0;
  outline:0;
  border:0;
  text-decoration: none;
  width: 100vw;
  height: 100%;
  display: flex;
}
.App .filter{
  border-right: 1px solid #fff;
  width: 15vw;
  max-height: 100vh;
  overflow: scroll;
}
.App .filter button{
  border:0;outline: 0;
  background-color: #fff;
  width: 86%;
  padding:10px;
  margin-left: 7%;
  margin-bottom: 30px;
  cursor: pointer;
}
.App .filter button:hover{
  background-color: #ccc;
}
.App .products{
  width: 84vw;
  height: 100vh;
}
.App .kategoriler{
  width: 95%;
  margin:auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.App .filter .kategoriler{
  background-color: #fff;
  padding:10px;
}
.App .filter .kategoriler:not(:last-child){
  border-bottom: 1px solid #fff;
  margin-bottom:20px;
}
.App .filter .kategoriler .MuiSlider-root{
  width: 80%;
  margin-left:10%;
}
.App .kategoriler h1{
  font-size:18px;
  position:relative;
}
.App .kategoriler h1 span{
  font-size:10px;
}
.App .kategoriler h1 strong{
  cursor: pointer;
  position: absolute;
  right:0;
  font-size:14px;
}
.App .kategoriler{
  user-select: none;
}
.App .kategoriler .lister label{
  display: flex;
  align-items: center;
  margin:5px;
  padding:5px;
}
.App .kategoriler .lister label:hover{
  background-color: #eee;
  cursor: pointer;
}
.App .kategoriler .lister label input{
  margin-right:10px;
}
/* .App .kategoriler .lister label:nth-child(2n+1){
  background-color: #ccc;
}
.App .kategoriler .lister label:nth-child(2n+0){
  background-color: #ddd;
} */
.App .kategoriler .kategori div{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border:1px solid #ccc;
}
.App .kategoriler .kategori div input{
  width: 40%;
  height: 50px;
  background-color: transparent;
  border:0;
  font-size:14px;
  outline: 0;
  text-align: center;
}
.App .kategoriler .kategori div input:not(:last-child){
  border-right: 2px solid #ccc !important;
}
.products .listerp{
  display: flex;
  max-height: 100vh;
  overflow: scroll;
  flex-wrap: wrap;
}
.products .listerp .productCard{
  width: 250px;
  margin-left:50px;
  margin-top:25px;
  margin-bottom:25px;
  cursor: pointer;
  max-height: 300px;
  background-color: #fff;
  transition: 500ms all;
}
.products .listerp .productCard:hover{
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}
.products .listerp .productCard .productImage{
  height: 180px;
  cursor: pointer;
  width: 100%;
}
.products .listerp .productCard .productTitle{
  display:flex;justify-content: center;align-items: center;
  text-align: center;
  width: 100%;
  font-weight: bold;
  background-color: #fff;
  padding:8px 0px;
}
.products .listerp .productCard .productProperties{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top:18px;
}
.products .listerp .productCard .productProperties div{
  border:1px solid #eee;
  width: calc(50% - 4px);
  height: 27px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .listerp .productCard .productProperties div span{
  font-size:10px;
  margin-left:4px;
}
.products .listerp .productCard .productProperties div i{
  position:absolute;
  left:4px;
  top:6px;
}

@media only screen and (max-width: 750px){
  .App{
    flex-direction: column;
  }
  .App .filter {
    width: 97.5vw!important;
  }
  .App .products div{
    width: 97.5vw!important;
  }
}
